/* Background
Botoes
Cores de texto */

:root {
  --primary-color: #8f0101;
  --secundary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secundary-color: #ffffff;

  --tittle-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}

.section-tittle{
  margin: 88px 0 32px 0;
}

.section-tittle h2 {
  font-size: 28px;
  font-weight: var(--tittle-weight);
  margin: 0;
  text-align: center;
}

.section-tittle hr {
  width: 180px;
  height: 4px;
  background-color: var(--secundary-color);
  border: none;
  margin: 16px auto 32px auto;
}

.button {
  color: var(--text-secundary-color);
  font-weight: var(--tittle-weight);
  font-size: 20px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 64px;
  border-radius: 16px;
  text-decoration: none;
}


@media screen and (min-width: 1024px) {
  .button:hover {
    background-color: var(--secundary-color);
  }
}

@media screen and (min-width: 768px) {
  .section-tittle h2 {
    font-size: 32px;
  }

  .section-tittle h3{
    white-space: nowrap;

  }
}
