header {
  display: flex;
  background-color: var(--background-tertiary-color);
  flex-direction: row;
  justify-content: space-between;
  padding: 38px 48px;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.navigation-menu{
    margin-top: 24px;
}

nav {
  display: none;
}

input[type="checkbox"]:checked ~ nav{
  display: block;
}