.hero-bottom{
    display: flex;
    width: 100%;
    height: 348px;
    background-color: var(--background-tertiary-color);
    color: var(--text-secundary-color);
    text-align: center;
    line-height: 1.8rem;
}

.bottom-img{
    width: 100%;
    height: 400px;
    background: url(../imgs/hero-footer.png) no-repeat;
    background-size: cover;
}

.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px auto;
    width: 312px;
}

.bottom-logo{
    margin-bottom: 16px;
}

.social-link{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.social-link img, a{
    display: inline-block;
    width: 32px;
    height: 32px;
}