.hero-img {
  height: 400px;
  width: 100%;
  background: url(../imgs/banner-homerpage.jpg) no-repeat;
  background-size: cover;
}

.hero h1 {
  text-align: center;
  font-weight: var(--tittle-weight);
  font-size: 32px;
  margin: 88px 0 8px 0;
}

.hero hr {
  width: 180px;
  height: 4px;
  background-color: var(--secundary-color);
  border: none;
  margin: 8px auto 32px auto;
}

.hero h2 {
  font-weight: var(--text-weight);
  font-size: 20px;
  padding: 24px;
  line-height: 1.5;
  text-align: center;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url(../imgs/banner-homepage-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    font-size: 32px;
    padding: 0 60px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url(../imgs/banner-homepage-desktop2x.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 0 60px;
  }
}

@media screen and (min-width: 1920px) {
  .hero-img {
    background: url(../imgs/banner-homepage-desktop2x.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 0 60px;
  }
}
