.card-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.card {
  display: block;
  color: var(--text-secundary-color);
  background-color: black;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}

.card header {
  display: block;
  padding: 0;
  position: static;
  background-color: transparent;
}

.card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.card header h3 {
  font-size: 40px;
  font-weight: var(--tittle-weight);
  margin: 8px 0 24px 0;
}

.card header span {
  display: inline-block;
  font-size: 32px;
  margin-top: 24px;
}

.card.japao {
  background: url(../imgs/card-backgroundimage-mobile.png) no-repeat;
  background-size: cover;
}

.card.san-andreas {
  background: url(../imgs/SanAndreas-mobile.png) no-repeat;
  background-size: cover;
}

.card.paraiba {
  background: url(../imgs/paraiba-mobile.png) no-repeat;
  background-size: cover;
}

.card.manaus {
  background: url(../imgs/manaus-mobile.png) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .card-offer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .card-offer{
    width: 983px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

  }
  
  .card {
    width: 312px;
    height: 288px;
  } 

  .card footer {
    display: flex;
    justify-content: center;
  }
  .card header h3 {
    font-size: 44px;
    font-weight: var(--tittle-weight);
    margin: 8px 0 24px 0;
  }

  .card header span {
    display: inline-block;
    font-size: 40px;
    margin-top: 24px;
  }
}


@media screen and (min-width: 1440px) {
  .card-offer{
    width: 100%;
  }

  .card {
    width: 588px;
  }
}

@media screen and (min-width:1810px) {
  .card-offer{
    width: 1200px;
    margin: 0 auto;
  }
  
}
