/* Background
Botoes
Cores de texto */

:root{
    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #0000;

    --button-primary-color: #8F0101;
    --button-secundary-color: #B81515;

    --text-primary-color: #222222;
    --text-secundary-color: #ffffff;
}

body,html{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    height: 100%;
    font-family: "RazerF5";
}

h1{
    color: var(--text-primary-color);
}

