/* Background
Botoes
Cores de texto */

:root {
  ---primary-color: #8f0101;
  ---secundary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #0000;

  --text-primary-color: #222222;
  --text-secundary-color: #ffffff;

  --tittle-weight: 700;
  --texte-weight: 400;
  --menu-text-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "RazerF5";
}

h1 {
  color: var(--text-primary-color);
  font-family: "Montserrat";
  font-weight: var(--tittle-weight);
}
